<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{site.url}}}">{{site.title}}</a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">首页</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">产品</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">产品 A</a>
            <a class="navbar-item" href="#">产品 B</a>
            <a class="navbar-item" href="#">产品 C</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">服务</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">服务 A</a>
            <a class="navbar-item" href="#">服务 B</a>
            <a class="navbar-item" href="#">服务 C</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">下载</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>